@import url(reset.css);
/* sub1.css */

@font-face {
    font-family: Binggrae;
    src: url(../font/Binggrae.otf);
}
@font-face {
    font-family: Binggrae-Bold;
    src: url(../font/Binggrae-Bold.otf);
}

/* common */
body{font-size: 16px; font-family: 'Noto Sans','Noto Sans KR',Helvetica, sans-serif; color: #333;}
a{text-decoration: none; color: #333;}
a:hover{text-decoration: none; color: #333;}

/* layout */
#wrap{width: 100%;}
#header{z-index: 30; position: relative; width: 100%; height: 140px; background: #fff;}
.header_wrap{width: 100%;background: #fff;}
    .header_inner{position: absolute; left: 50%; top: 0; width: 1170px; height: 77px;  margin: 0 auto;  border-bottom: 1px solid #f0f0f0; transform: translateX(-50%);}
    #container{position: relative; width: 100%;margin: 0 auto; background: #fff;}
        .content{max-width: 1170px; width: 100%; margin: 0 auto; padding-bottom: 100px; letter-spacing: -0.05em;}
    #footer{width: 100%; height: 268px; background-color: #f6f6f6;}
        .foot_inner{position: relative;width: 1170px; margin: 0 auto; padding: 0 10px;}


/* header */
/* 로고 */
h1.logo{position: absolute;left: 45%;top: 15px;}
h1.logo > a{display: block; width: 128px; height: 32px; background: url(../images/logo_pc.png) no-repeat center; text-indent: -9999px;overflow: hidden; padding: 10px;}

/* 주메뉴 */
nav.gnb > ul{position: absolute; top: 75px; width: 100%; text-align: center;}
nav.gnb > ul > li{display: inline-block; position: relative; line-height: 61px; }
nav.gnb > ul > li > a{display: inline-block; width: 160px; height: 60px; 
                    font-family: Binggrae-Bold;font-size: 18px; color: #222; font-weight: 400;}
nav.gnb > ul > li > a::after{content: "";position: absolute; bottom: 0; left: 35%;width: 0;height: 0;opacity: 0;background: red;}
nav.gnb > ul > li:hover > a:after{width: 50px;height: 3px; opacity: 1;}
nav.gnb > ul > li:last-child:hover > a:after{left: 20% ;width: 100px;height: 3px; opacity: 1;}
nav.gnb > ul > li:hover > a{color: red;}
nav.gnb > ul > li > ul{display: none; position: absolute;left: 0;width: 100%;line-height: 40px;
    padding: 26px 0;}
nav.gnb > ul > li > ul > li{display: inline-block;width: 100%; text-align: center;}
nav.gnb > ul > li > ul > li > a{display: block;font-size: 16px;color:#666;
font-weight: 300;}

/* 탑메뉴 */
ul.topMenu{position: absolute; left: 0; top: 10px; }
ul.topMenu > li{float: left; vertical-align: middle; }
ul.topMenu > li::after{content: ""; display: block; clear: both;}
ul.topMenu > li > a{position: relative; display: block; color: #444; font-weight: bold; padding-left: 29px;
                    font-size: 14px; height: 14px; text-align: center; line-height: 61px;} 
ul.topMenu > li:first-of-type > a{padding-left: 0;}   
ul.topMenu > li > a::after{content: "";position: absolute; display: block; left: 14px; top: 26px;width: 1px; 
                            height: 9px;background: #ccc;}
ul.topMenu > li:first-of-type > a::after{display: none;}

dl.topMenu{position: absolute; right:0; top: 25px; }
dl.topMenu > dd{float: left; }
dl.topMenu > dd::after{content: ""; display: block; clear: both;}
dl.topMenu > dd > a{position: relative; display: block; width: 32px; height: 32px;padding: 0 5px;
                    font-size: 13px; font-weight: 500; }
dl.topMenu > dd:first-of-type > a{background: url(../images/footer_instar.png) no-repeat center; text-indent: -9999px; overflow: hidden;}
dl.topMenu > dd:first-of-type > a::after{display: none;}
dl.topMenu > dd:nth-of-type(2) > a{background: url(../images/footer_youtube.png) no-repeat center; text-indent: -9999px; overflow: hidden; margin-right: 5px;}
dl.topMenu > dd:nth-of-type(2) > a::after{display: none;}
dd.language{border: solid 1px #ccc; border-radius: 15px; line-height: 28px; box-sizing: border-box; }
dl.topMenu > dd.language > a{display: block; position: relative; width: 55px; height: 28px;padding: 0 14px; 
                                font-size: 13px; font-weight: bold; color: #666; line-height: 28px;}
dl.topMenu > dd.language > a::after{content: "";position: absolute; top: 50%; right: 15px; display: block; 
                                    width: 8px; height: 5px; margin-top: -2px;
                                    background: url(../images/ico_arr_s_off2.png) no-repeat center;}
dl.topMenu > dd.language > ul{display: none; padding: 10px 0;background: #fff;border-radius: 15px;}
dl.topMenu > dd.language > ul > li {display: block;height: 30px; padding: 0 14px; font-size: 12px; box-sizing: border-box;
                                font-weight: 500; color: #666; text-align: left; line-height: 30px;}
dd.language > ul > li:hover{background: #eee;}                      

/* home */
.home{width: 100%; margin: 0 auto; background: #f6f6f6;}
.home ul{width: 100%; max-width: 1170px; height: 21px; margin: 0 auto; padding: 13px 0;}
.home li{position: relative; float: left; padding: 0 30px;}
.home li:last-of-type::after{content: ""; display:block; position: absolute; top: 4px; left: 0; width: 1px; height: 15px; background: #ccc;}

/* content */
.content > h2{padding: 75px 0 46px; text-align: center; color: #222; font-size: 38px; font-family: Binggrae-Bold; line-height: 1.4;}
.content > p:first-of-type{display: block; padding: 50px 0 24px; border-top: 1px solid #e3e3e3;  font-size: 24px; font-weight: 500;}
.content > p{padding-bottom: 46px; text-align: center; color: #222;font-size: 20px; font-weight: 300; line-height: 30px;}

/* inquire */
.content > div.inquire{padding-top: 50px; border-top: 1px solid #e3e3e3;}
.content > div.inquire > h3{margin-bottom: 15px; font-size: 18px; font-weight: bold; text-align: left; color: #222;}
.content > div.inquire > h3 > span{display: inline-block; padding-left: 14px; font-weight: 300; font-size: 15px; color: #666;}
.content div.agree{display: block; height: 276px; padding: 25px 7px 30px 25px; overflow: scroll;
                        border: 1px solid #e0e0e0; border-top: 1px solid #000; background: #fafafa; box-sizing: border-box;}
.content div.agree > p:first-of-type{font-size: 16px; font-weight: 500; color: #222;}
.content div.agree > p:nth-of-type(2) > strong{display: block; margin-top: 32px; font-weight: bold; color: #222;}
.content div.agree > ul > li{margin-top: 15px; color: #666; font-size: 16px; font-weight: 400;}
.content div.agree > p:nth-of-type(3){margin-top: 32px; line-height: 1.4; font-size: 16px; color: #666; font-weight: 400;}
.content div.agree > p:nth-of-type(3) > strong{font-weight: bold; font-size: 16px; color: #222;}
.content div.agree > p:nth-of-type(4){margin-top: 15px; line-height: 26px; font-size: 16px; color: #666; font-weight: 400;}
.content div.agree > ul > li{margin: 15px; font-size: 16px; color: #666; font-weight: 400;}
.content div.agree > p:nth-of-type(5) > strong{display: block; margin-top: 32px; font-weight: bold; color: #222;}
.content div.agree > p:last-of-type > strong{display: block; margin-top: 32px; font-weight: bold; color: #222;}

.content fieldset:first-of-type{width: 100%; margin: 30px 0 60px; text-align: center;}
.content label{vertical-align: middle;}
.content input[type="radio"]{display: none;}
.content input[type="radio"]+label{position: relative; display: inline-block; padding-left: 40px; line-height: 30px; font-size: 16px; color: #666;}
.content input[type="radio"]+label:first-of-type{background: url(../images/sub2/ico_radio_on.png) no-repeat; color: #ec1d25; font-weight: 500;}
.content input[type="radio"]+label:last-of-type{margin-left: 50px;  background: url(../images/sub2/ico_radio_off.png) no-repeat;}

.content fieldset:last-of-type > table{width: 100%; margin-bottom: 40px; border: 1px solid #e0e0e0; border-top: 1px solid #000; font-size: 16px;}
.content fieldset:last-of-type > table tr:first-child{border-top: none;}
.content fieldset:last-of-type > table tr{border-top: 1px solid #e0e0e0;}
.content fieldset:last-of-type > table th{width: 200px; padding: 18px 0; background: #fafafa; font-weight: 500; text-align: center;}
.content fieldset:last-of-type > table td{padding: 15px; border-left: 1px solid #e0e0e0; vertical-align: middle; font-size: 16px;}
.content select{appearance: none;}
#ask_type{width: 412px; height: 40px; padding: 0 0 0 19px; font-size: 14px; color: #666; font-weight: 300; line-height: 40px;
        border: 1px solid #e3e3e3; background: url(../images/sub2/ico_arr_off.png) no-repeat 90% center; box-sizing: border-box;}
.content input[type="text"]{width: 412px; height: 42px; padding: 10px 20px; font-size: 14px; color: #666; font-weight: 300; border: 1px solid #e0e0e0; box-sizing: border-box;}
.content input[type="email"]{width: 412px; height: 42px; padding: 10px 20px; font-size: 14px; color: #666; font-weight: 300; border: 1px solid #e0e0e0; box-sizing: border-box;} 
.content input[type="tel"]{width: 120px; height: 42px; padding: 10px 20px; font-size: 14px; color: #666; font-weight: 300; border: 1px solid #e0e0e0; box-sizing: border-box;} 
.content fieldset:last-of-type span{display: inline-block; margin: 0 9px; font-size: 24px; color: #777; font-weight: 300;}
.content fieldset:last-of-type span:last-of-type{display: inline; padding-left: 20px; font-size: 16px; font-weight: 300;}
.content fieldset:last-of-type textarea{width: 100%; height: 63px; min-height: 188px; padding: 18px 19px; border: 1px solid #ccc; vertical-align: middle;
                                        font-size: 14px; color: #666; font-weight: 300; font-family: 'Noto Sans KR', sans-serif; 
                                        line-height: 18px; box-sizing: border-box; resize: none;}
.content fieldset:last-of-type div.fileBox {float: left; width: 420px;}
.content fieldset:last-of-type td:last-of-type::after{display: block; content: ""; clear: both;}
.content fieldset:last-of-type td:last-of-type input[type="text"]:first-of-type{margin-top: 0;}
.content fieldset:last-of-type td:last-of-type label{margin-top: 0;}
.content fieldset:last-of-type td:last-of-type input[type="text"]{display: inline-block; margin-top: 10px; width: 292px; height: 40px; border-right: none; vertical-align: middle;}
.content fieldset:last-of-type td:last-of-type label{display: inline-block; margin-top: 10px; height: 40px; background: #666; padding: 0 33px; border: 1px solid #999;
                                                    color: #fff; font-size: 16px; line-height: 38px; font-weight: 300; text-align: center;}
.content fieldset:last-of-type td:last-of-type input[type="file"]{display: none;}
.content fieldset:last-of-type td:last-of-type p{display:inline-block; padding-left: 20px; line-height: 40px;}
.content .btn_wrap {width: 100%; margin-left: 35%;}
.content .btn_wrap input[type="submit"]{min-width: 180px; height: 50px; padding:  0 35px; border: none; border-radius: 25px; background: #ec1d25; 
                                        color: #fff; font-size: 18px; line-height: 46px; font-weight: 500;}
.content .btn_wrap input[type="reset"]{min-width: 180px; height: 50px; margin-left: 5px; padding:  0 35px; border: 1px solid #bbb; border-radius: 25px; background: #fff; 
                                        color: #444; font-size: 18px; line-height: 46px; font-weight: 500;}


/* footer */
.foot_inner li{float: left;}
.foot_inner ul::after{display: block; content: "";clear: both;}
.foot_inner li a{color: #666; font-weight: bold; font-size: 14px;}

.foot_inner > div:first-of-type{width: 100%; padding: 37px 0 26px;  border-bottom: 1px solid #e3e3e3;}
div.family{position:absolute; top:30px; right:0; width:270px; border:1px solid #ccc; 
    border-radius:20px; background-color:#fff; }
div.family::after{content: "";display: block;position: absolute;top:18px; right:19px; 
        width:8px; height:5px; 
        background:url(../images/ico_arr_off.png) no-repeat center;}
div.family ul{display: none; max-height: 150px; overflow-y: scroll;}
div.family li a{display: block; padding: 0 14px; height: 30px; font-size: 16px; font-weight: 400; color: #666;}
div.family span{position: relative; display: block; height: 41px; line-height: 37px;
    padding-left: 18px; font-size: 14px; font-weight: 600; color: #444;}

.foot_inner address{margin-top: 9px; font-size: 16px; color: #333;}
.foot_inner address span:first-of-type{display: inline-block; vertical-align: middle; color: #666; font-size: 14px;}
.foot_inner address span:nth-of-type(2){display: inline-block; padding: 12px 22px 0 10px; margin-left: 10px; min-width: 115px; height: 27px; 
                                    text-align: left; vertical-align: middle; box-sizing: border-box; line-height: 0;
                                    background: #fff url(../images/bg_arrow_small01.gif) no-repeat 91% center; border: 1px solid #ccc; 
                                    font-weight: bold; color: #444; font-size: 14px;}
.foot_inner address span:nth-of-type(3){display: block; margin-top: 6px;  color: #ffec48; font-size: 14px;}
.foot_inner address span:last-of-type{display: block; margin-top: 6px; color: #ffec48; font-size: 14px;}

.foot_inner div:nth-of-type(2){padding: 25px 0 40px;}
.foot_inner p:first-of-type {float: left; width: 122px; height: 32px; background: url(../images/footer_logo.png) no-repeat center; 
                            text-indent: -9999px; overflow: hidden; }
.foot_inner p:last-of-type{float: left; padding-left: 43px; line-height: 32px; font-weight: bold; font-size: 14px; color: #666;}
.foot_inner div:nth-of-type(2) li{float: right; text-indent: -9999px; overflow: hidden;}
.foot_inner div:nth-of-type(2) li:first-of-type{display: inline-block; width: 32px; height: 32px; 
                                            background: url(../images/footer_certificate.png) no-repeat center;}
.foot_inner div:nth-of-type(2) li:nth-of-type(2){display: inline-block; padding-left: 30px; width: 32px; height: 32px; 
                                            background: url(../images/footer_youtube.png) no-repeat center;}
.foot_inner div:nth-of-type(2) li:last-of-type{display: inline-block; width: 32px; height: 32px; 
                                            background: url(../images/footer_instar.png) no-repeat center;}
/* topbutton */
.btn_top{z-index: 100;position: fixed;bottom: 30px;right: 80px;width: 70px;height: 70px;border-radius: 50%;box-shadow: 3px 7px 22px rgb(0,0,0,0.2);
        background: #fff url(../images/bg_toplink.png) no-repeat 50% 20%; font-size: 14px;color: #666;text-align: center;line-height: 80px;cursor: pointer;}



